/* add.css */

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url(image/add.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}

/* Container styling */
.container {
  max-width: 600px;
  margin: 50px ;
  margin-right: 90px;
  padding: 20px;
  background-color: rgba(129, 132, 92, 0.489);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
  color: white;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #218838;
}

/* Back button styling */
a button[type="button"] {
  display: block;
  margin-bottom: 100px; ;
  margin-left: 80px;
  padding: 10px 230px; 
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

a button[type="button"]:hover {
  background-color: #0056b3;
}

/* Animations */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.container {
  animation: fadeIn 1.5s ease-in;
}
