/* Control.css */

/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #333;
    background: url(image/control.jpg);
    background-size: cover;
}

h1 {
    color: #4CAF50;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.info p {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    .info p {
        font-size: 1em;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }

    button {
        width: 100%;
        padding: 10px 0;
    }
}
